<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@handsontable/angular/bundles/handsontable-angular.umd.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">
<hot-table [data]="data"
           (after-change)="afterChange($event)"
           (after-on-cell-mouse-down)="afterOnCellMouseDown($event)"
           [colHeaders]="colHeaders"
           [columns]="columns"
           [options]="options"
           [colWidths]="colWidths">
</hot-table>