<!-- <div>
  <label>Name: </label>
  <input [(ngModel)]="editName" (blur)="onChange()" placeholder="name" />
</div>

<div>
  <tabset>
    <tab heading="Basic title" id="tab1">Basic content</tab>
    <tab heading="Basic Title 1">Basic content 1</tab>
    <tab heading="Basic Title 2">Basic content 2</tab>
  </tabset>
</div>
<label for="switcher">Disable tab switching: <input type="checkbox" [(ngModel)]="disableSwitching"></label>
<p>Tab switching is <strong>{{ disableSwitching ? 'disabled' : 'enabled ' }}</strong>.</p>
<hr>
<tabset (click)="confirmTabSwitch($event)" #tabset>
  <tab
    tab1
    heading="First tab"
    id="first"
    #first
    [disabled]="disableSwitching"
    >Tab 1 content</tab>

  <tab
    tab2
    heading="Second tab"
    id="second"
    select="!disableSwitching && second.active = true"
    #second
    [disabled]="disableSwitching"
    >Tab 2 content</tab>
</tabset> -->
<span>Data Explorer Component</span>
<h1>{{ vm }}</h1>
