<div class="cards">
<div draggable="true" ondragstart="drag(event)"  class="card card1"><h2><a href="#0">title</a></h2> <p>Some Content</p></div>
<div draggable="true" ondragstart="drag(event)"  class="card card2"><h2><a href="#0">title</a></h2> <p>Some Content</p></div>
<div draggable="true" ondragstart="drag(event)"  class="card card3"><h2><a href="#0">title</a></h2> <p>Some Content</p></div>
<div draggable="true" ondragstart="drag(event)"  class="card card3"><h2><a href="#0">title</a></h2> <p>Some Content</p></div>
<div draggable="true" ondragstart="drag(event)"  class="card card3"><h2><a href="#0">title</a></h2> <p>Some Content</p></div>
<div  draggable="true" ondragstart="drag(event)" class="card card3"><h2><a href="#0">title</a></h2> <p>Some Content</p></div>
</div>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
