<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a href="#" class="navbar-brand mr-3">Tutorial Republic</a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">Home</a>

        <a
          [routerLink]="['/datamanager']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Data Manager</a
        >
        <a
          [routerLink]="['/hottabledemo']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Hot Table</a
        >
        <a
          [routerLink]="['/layers']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Layers</a
        >
        <a
      [routerLink]="['/lac']"
      class="nav-item nav-link"
      routerLinkActive="router-link-active"
      >LAC</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link">Register</a>
        <a href="#" class="nav-item nav-link">Login</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
