
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a href="#" class="navbar-brand mr-3">Stock Eercise</a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">Home</a>

        <div class="nav-item nav-link dropdown">
          <button class="dropbtn">Data Manager</button>
          <div class="dropdown-content">
            <a href="/datamanager">Explorer</a>
            <a href="/datamanager/detail">Detail</a>
            <a href="#">View</a>
          </div>
        </div>

        <a
          [routerLink]="['/hottabledemo']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Hot Table</a
        >
        <a
          [routerLink]="['/layers']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Layers</a
        >
        <a
          [routerLink]="['/lac']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >LAC</a
        >
        <a
          [routerLink]="['/reactivepattern']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Reactive Pattern</a
        >
        <a
          [routerLink]="['/ps/summary']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          >Summary</a
        >
      </div>
      <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link">Register</a>
        <a
          [routerLink]="['/auth/login']"
          class="nav-item nav-link"
          routerLinkActive="router-link-active"
          class="nav-item nav-link"
          >Login</a
        >
      </div>     
    </div>
  </div>
</nav>
<router-outlet>
  <!-- <button (click)="runWorker()">Run Worker</button> -->
</router-outlet>
