<div class="row comp">
  <div class="col-lg-4 left">
    <button class="btn btn-outline-primary waves-effect btn-rounded waves-effect btn-floating" type="button" (click)="componentOneClick()">Component 1</button >

    <button class="btn btn-light btn-floating" type="button" (click)="componentTwoClick()">Component 2</button>

    <button class="btn btn-light" type="button" (click)="componentThreeClick()">Component 3</button>
  </div>
  <div class="col-lg-8 right">
    <!-- <ng-template ad-host></ng-template> -->
    <ng-template #insertionPoint></ng-template>
    
  </div>
</div>
